<mat-toolbar color="primary">
    PCDR:
  </mat-toolbar> 

<div class="mat-elevation-z8">
  <mat-table #positionTable [dataSource]="dataSource" matSort >

    <ng-container matColumnDef="positionNum">
      <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
      <mat-cell *matCellDef="let position"> {{position.positionNum}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="personnelNum" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> Personnel Num </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let position"> {{position.personnelNum}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="workerCd">
      <mat-header-cell *matHeaderCellDef mat-sort-header> worker code </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let position"> {{position.workerCd}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="accent" ></mat-header-row>
    <mat-row (click)="somoneClicked(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator #positionPaginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>

<app-position-details [position]="detail" [employee] ="detail2" [hidden]="hide" ></app-position-details>